apiVersion: v1
kind: ConfigMap
metadata:
  name: firefly-db-setup-script
  namespace: firefly
data:
  db-setup.sh: |
    #!/bin/bash
    set -e

    mariadb -h mariadb-0.mariadb-headless-svc.mariadb.svc.cluster.local -u root -p"${MARIADB_ROOT_PASSWORD}" <<EOF
    CREATE DATABASE IF NOT EXISTS firefly;
    CREATE USER IF NOT EXISTS 'firefly_user'@'%' IDENTIFIED BY '${FIREFLY_USER_PASSWORD}';
    GRANT ALL ON firefly.* TO 'firefly_user'@'%';
    FLUSH PRIVILEGES;
    EOF
