apiVersion: v1
kind: Service
metadata:
  labels:
    app: firefly
  name: firefly
  namespace: firefly
spec:
  ports:
  - name: web
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: firefly
  type: ClusterIP
