apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33  # www-data group ID
        runAsUser: 33  # www-data user ID
        runAsGroup: 33  # www-data group ID
      containers:
        - name: linkding
          image: ghcr.io/sissbruecker/linkding:1.44.1
          ports:
            - containerPort: 9090
          volumeMounts:
            - mountPath: "/etc/linkding/data"
              name: data
					envFrom:
						- secretRef:
								name: linkding
          securityContext:
            allowPrivilegeEscalation: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: linkding-data

